/*@import url("/CSS/header.css");*/
/*[class*="col-"] {
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
    text-align: center;
}*/

#chiffres{
    margin: 0px 0px 0px 0px; /*marge extérieure(haut, droite, bas, gauche)*/
    background-image: radial-gradient(#853321,#9D5B4C);
    /*box-shadow: 0px 8px 11px 0px rgba(94,94,94,0.63); !*ombre(horizontale, verticale, fondu, couleur)*!*/
    padding: 0px 0px 0px 0px; /*marge intérieure(haut, droite, bas, gauche)*/
    height: 100px;
    text-align: center;
    font-size: 1.5em;
}
.chiffre{
    color: blanchedalmond;
}

.pictogramme{
    height: 52px;
}

