.attribut{
    color : #853321;
    font-size: 1.5em;
    padding-bottom: 1em;
}
.description_site{
    border-top: 1px solid #853321;
}
.image_site{
    width: 100%;
    border: 1px solid #853321;
    border-radius: 10px;
}
.form-check-label{
    cursor: pointer;
}
.form-check-input{
    cursor: pointer;
}