<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 500</title>
    <link rel="stylesheet" href="/CSS/bootstrap.css"/>
    <style>
        body {background-image: url('/images/error-500.jpg');
            background-attachment: fixed;
            background-repeat: no-repeat;}
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="margin-top: 20%">
            <div class="col-6 offset-1">
                <h2>Une erreur interne s'est produite.</h2>
                <p>Nous nous excusons, nous avons rencontré un problème avec le serveur.<br>
                Veuillez retourner à la page d'accueil</p>
                <button class="btn-primary"><a class="btn-primary" href="/">Go back</a></button>
            </div>
        </div>
    </div>
</body>
</html>