<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Site</title>
        <link rel="stylesheet" href="/CSS/addSite.css"/>
        <link rel="stylesheet" href="/CSS/page.css"/>
        <link rel="stylesheet" href="/CSS/bootstrap.css"/>
    </head>

    <body>

        <header th:insert="header"></header>

        <div id="page" class="container">

            <div class="row">
                <div class="col-12 introduction">
                    <h3>Ajout d'un site d'escalade : </h3>
                </div>
            </div>
            <div class="row">
                <div id="site_form" class="col-md-8 offset-2">
                    <form th:object="${site}" th:method="post" th:action="@{/sitesList}">
                        <div class="form-row">
                            <div class="col-6">
                                <label for="name">Nom du site : </label>
                                <input type="text" id="name" class="form-control" th:field="*{name}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12">
                                <label for="description">Description : </label>
                                <textarea id="description" class="form-control" th:field="*{description}"
                                          rows="3"></textarea>
                                <small id="passwordHelpBlock" class="form-text text-muted">
                                    N'hésitez pas à mettre le plus d'informations possible !
                                </small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-9">
                                <label for="adresse">Adresse : </label>
                                <input type="text" id="adresse" class="form-control" th:field="*{adresse}">
                            </div>
                            <div class="col-3">
                                <label for="altitude">Altitude : </label>
                                <div class="input-group mb-2 mr-sm-2">
                                    <input type="number" id="altitude" class="form-control" th:field="*{altitude}">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">m</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-6">
                                <p>Niveau : </p>
                            </div>
                            <div class="col-6">
                                <label for="topo">Topo associé : </label>
                                <select type="text" id="topo" class="custom-select" th:field="*{topo}">
                                    <option th:each="topo : ${topos}" th:value="${topo.id}" th:text="${topo.titre}">Pas
                                        de topo
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div id="submit" class="col-2">
                                <button type="submit" class="btn btn-primary">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-3 offset-9">
                    <a class="btn btn-outline-info" href="/sitesList">Retour</a>
                </div>
            </div>
        </div>

        <footer th:insert="footer"></footer>
    </body>
</html>