<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Liste des différentes sites</title>
        <link rel="stylesheet" href="/CSS/index.css" />
        <link rel="stylesheet" href="/CSS/bootstrap.css" />
    </head>

    <body>
        <div class="container">

            <header th:insert="header"></header>

            <div class="row">
                <div class="col-md-12">
                    <h1>Voici la liste de tous les sites :</h1>

                    <span th:text="'Pseudo: ' + ${pseudo}">Anonymus</span>


                </div>
            </div>


        </div>
    </body>
</html>