<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title th:text="${site.get().getName()}">Site</title>
        <link rel="stylesheet" href="/CSS/page.css"/>
        <link rel="stylesheet" href="/CSS/bootstrap.css"/>
    </head>

    <body>

        <header th:insert="header"></header>

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h2 th:text="${site.get().getName()}">Titre du site</h2>
                    <p th:text="${site.get().getDescription()}">Contenu/Description du site</p>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-12">
                    <img th:src="static/images/site${site.get().getId()}.png" alt="Image"/>
                </div>
            </div>-->

            <div class="row">
                <div class="col-3">
                    <a class="btn btn-outline-info" href="/sitesList">Retour</a>
                </div>
            </div>

        </div>
    </body>
</html>