<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Liste des différentes sites</title>
        <link rel="stylesheet" href="/CSS/page.css"/>
        <link rel="stylesheet" href="/CSS/bootstrap.css"/>
        <link rel="stylesheet" href="/CSS/index.css"/>
    </head>

    <body>

        <header th:insert="header"></header>

        <div class="container">
            <div class="row">
                <div class="col-12 introduction">
                    <h3>Liste de tous les sites d'escalade :</h3>
                    <p>Choisissez le site qui vous conviendrait le mieux : </p>
                </div>
            </div>

            <div class="row" th:each="site : ${sites}">
                <div class="col-12 boite">
                    <div class="row justify-content-between">
                        <div class="col explications">
                            <h3><a th:text="${site.name}">Nom du site</a></h3>
                            <p th:text="${site.level}">Difficulté</p>
                            <a class="btn btn-outline-info" th:href="@{'/site/' + ${site.id}}">Voir le site</a>
                        </div>
                        <div class="col-2 boite_image">
                            <a th:href="@{'/site/' + ${site.id}}"><img th:src="@{/images/placeholder.svg}" alt="Reservation placeholder" class="image_boite"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 offset-10">
                    <a class="btn btn-outline-info" href="/addSite">Ajouter un site</a>
                </div>
            </div>
        </div>

        <footer th:insert="footer"></footer>

    </body>
</html>