<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Liste des différentes sites</title>
        <link rel="stylesheet" href="/CSS/page.css"/>
        <link rel="stylesheet" href="/CSS/bootstrap.css"/>
    </head>

    <body>

        <header th:insert="header"></header>

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1>Liste de tous les sites d'escalade :</h1>
                    <tr th:each="site : ${sites}">
                        <td th:text="${site.id}">1</td>
                        <td><a th:href="@{'/site/' + ${site.id}}" th:text="${site.name}">Piton des neiges</a></td>
                        </br>
                    </tr>
                    <br/>
                    <a class="btn btn-outline-info" href="/addSite">Ajouter un site</a>
                </div>
            </div>

        </div>
    </body>
</html>